.app-logo {
  filter: brightness(0) invert(1);
  height: 55px;
  width: 55px;
}

.app-logo-container {
  background-color: #DB155B;
  padding: 10px;
  margin-right: 30px;
}

.app-header {
  background-color: #EEE;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-shadow: 0px 4px 4px -1px rgba(48,48,48,0.3); 
  box-shadow: 0px 4px 4px -1px rgba(48,48,48,0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 99999;
}