.messages-container {
  margin: 110px 30px 105px calc(30vw + 30px);
}

.message-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 0;
}

.message-image-placeholder {
  width: 65%;
  height: 225px;
  background-color: #bbb;
}

.image-caption {
  font-size: 0.9em;
  font-style: italic;
  margin-block-start: 0.6em;
}

.error-message-container {
  position: fixed;
  bottom: 75px;
  right: 0;
  background: #f2bec3;
  height: auto;
  width: 70%;
  padding: 5px 15px;
  border-top: solid 1px #ea939c;
  color: rgb(145, 45, 45);
  font-size: 0.8em;
}

.error-message-title {
  font-weight: 600;
}